body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    height: 100%;
    min-height: 100vh;
    width: 100vw;
	background: linear-gradient(45deg, hsl(46, 82%, 84%), hsl(283, 54%, 85%));
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    box-shadow:
    1.8px 5.4px 2.7px rgba(0, 0, 0, 0.028),
    4.5px 13.7px 6.9px rgba(0, 0, 0, 0.04),
    9.2px 28px 14.2px rgba(0, 0, 0, 0.05),
    19px 57.7px 29.2px rgba(0, 0, 0, 0.062),
    52px 158px 80px rgba(0, 0, 0, 0.09)
  ;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    background-color: rgb(229 231 233);
    border-radius: 0.25rem;
    padding: 7px;
    color: rgb(16 90 165);
    font-weight: 500;
    font-size: 17px;
    width: 100%;
    margin-top: 5px;
    text-align: start;
    display: inline-block;
}


input{
    width: 70%;
    border-radius: 10px;
    border: none;
    outline:1px solid rgb(53, 138, 223);
}
button{
    background-color:  rgb(105 153 201);
    border: none;
    color: #fff;
    border-radius: 9px;
    padding:4px 18px ;
    transition: 300ms all ease-in-out;
}
button:hover{
    background-color: rgb(53, 138, 223);
}
.closing{
    float: right;
    background-color: transparent;
    color: black;
    font-weight: 500;
    font-size: 17px;
}
.closing:hover{
    color: red;
    background-color: transparent;
}
#removeBtn{
    display: none;
    margin: auto;
    margin-top: 5px;
    background-color: black;
    
}
#removeBtn:hover{
    background-color: rgb(197, 15, 15);
}